
body {
    background: #161621;
}


@property --gx {
    initial-value: 50%;

    syntax: "<length-percentage>";
    inherits: true;
}

@property --gy {
    initial-value: 50%;

    syntax: "<length-percentage>";
    inherits: false;
}

.card {
    width: 200px;
    height: 200px;
    position: absolute;
    background: #161621;

    box-shadow: inset -4px 6px 20px #ffffff;
    border: 2px solid #fff0f0;
    box-sizing: border-box;
    z-index: 100;

    transform: skewX(10deg) rotateY(46deg);
}

.card-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at 50% 50%, #ffffff, transparent);
}

.card-right {
    transform: skewX(-10deg) rotateY(46deg);
}

.card-shadow {
    position: absolute;
    z-index: -1;
    transform: skewX(60deg);
    width: 75px;
    height: 20px;
    top: 187.74px;
    left: 39px;
    background: #7c7c7c;

    border: 1px solid #fff0f0;
    box-sizing: border-box;
    border-left-width: 4px;
}

.card-right ~ .card-shadow {
    transform: skewX(-60deg);
    top: 187.74px;
    left: 103px;

    border-left-width: 0;
    border-right-width: 4px;
}

.card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 32px;
    font-family: cursive;
    font-weight: bolder;
    margin-top: -20px;
    transform: translateZ(20px);

    pointer-events: none;
}