

p {
    font-family: "Courier New", sans-serif;
    margin: 0;
    font-weight: bold;
}

.map-tag {
    position: absolute;
}

tr, td {
    height: 15px;
    padding: 0;
}

.color-tag {
    width: 15px;
}

.text {
    padding-left: 5px;
}