* {
    box-sizing: border-box;
    user-select: none;
    font-family: monospace;
}

head, body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    background: #161621;
    width: 100%;
    height: 100%;
}

.screen {
    width: 100%;
    height: 100%;
}

.window-loading {
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 1;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 1s 1s;

    z-index: 100;
    background: #161621;
    pointer-events: all;
}

.window-loading-bar {
    transition: opacity 1s;
}

.window-loading-bar::after {
    content: "";
    display: block;
    position: relative;
    margin-bottom: 50px;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid white;
    border-right-color: transparent;
    animation: spin 1s cubic-bezier(0.41, 0.08, 0.58, 1) infinite;
}

.loading-dot {
    opacity: 0;
}

.loading-dot:nth-child(1) {
    animation: fadeInOut1 1s 0.3s infinite;
}

.loading-dot:nth-child(2) {
    animation: fadeInOut2 1s 0.3s infinite;
}

.loading-dot:nth-child(3) {
    animation: fadeInOut3 1s 0.3s infinite;
}

.window-loading-msg, .welcome-screen {
    font-size: 40px;
    display: flex;
    color: white;
    margin-top: 150px;
    position: absolute;
    align-items: center;
    justify-content: center;
    transition: opacity 1s;
}

.welcome-screen {
    opacity: 0;
    transition-delay: 1s;
}

.screen.welcoming .welcome-screen {
    opacity: 1;
}

.screen.welcoming .window-loading-msg {
    opacity: 0;
}

.screen:not(.loading) .window-loading {
    opacity: 0;
    pointer-events: none;
}

.window {
    position: absolute;

    width: 600px;
    height: 400px;
    outline: 5px solid var(--bg);

    --bg: #d0d0d0;
    background: #161621;

    z-index: 100;
}

.window-bar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 22px;

    background: var(--bg);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closed {
    display: none;
}

.window-content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 22px);

    background: #161621;
}

.terminal {
    padding: 10px;
    max-height: 100%;
    height: 100%;
    overflow: auto;
}

.header, .exercise-header {
    text-align: left;
    margin: 0;
    color: #a3a3a3;
}

.exercise-header {
    width: 100%;
    font-size: 40px;
    text-shadow: 2px 3px 0 #fff8f81a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

span.n {
    text-shadow: 2px 5px 0 #fff8f81a;
}

.exercise {
    width: auto;
    height: auto;
}

.exercise .window-content {
    display: flex;
    flex-direction: column;
}

.exercise-main {
    flex-direction: column;
    display: flex;

    padding: 20px;
    max-width: 55vw;
    width: 55vw;
    max-height: 55vh;
    height: 55vh;
}

.preview-link, .exercise-main .exercise-preview {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    background: white;

    position: relative;
}

.preview-iframe {
    width: 100vw;
    height: 100vh;
    transform: scale(0.5);
    transform-origin: 0 0;
    pointer-events: none;
}

.open-icon {
    position: absolute;
    width: 180px;
    height: 180px;
    top: calc(50% - 90px);
    left: calc(50% - 90px);
    z-index: 2;
}

.exercise-preview::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: #010101cc;
    z-index: 1;

    cursor: pointer;
}

.exercise-preview svg {
    cursor: pointer;
}

.exercise-header span.n {
    font-size: 60px;
}

.terminal-input {
    color: white;
    display: flex;
    align-items: center;
    height: max-content;
}

.prompt, .output-prompt, .output {
    white-space: pre;
    position: relative;
    font-family: monospace;
    color: #d0d0d0;
}

.output {
    color: #aef4ea;
    margin-bottom: 10px;
}

.help-cmd, td {
    color: #aef4ea;
}

.error {
    color: #ff5a5a;
}

span.help-text {
    color: #ffff8e;
    padding-left: 20px;
}

.help-header {
    color: #d0d0d0;
    font-style: italic;
    margin-left: 10px;
}

.help-cmd::before {
    content: "- ";
}

.dir-file {
    color: #beff7f;
}

.dir-file::before {
    content: "/";
}

.dir-name, .dir-file {
    margin-left: 15px;
}

.command {
    color: #b5f7ff !important;
}

.terminal-input .command {
    margin-left: 5px;
    background: transparent;
    border: none;
    color: #d0d0d0;
    font-family: monospace;
    width: 100%;
    height: max-content;
    outline: none;

    resize: none;
}

.terminal-input .command::selection {
    background: #ffffff30;
    padding: 10px 0;
    box-sizing: content-box;
}

.window-title {
    position: relative;
    left: 10px;
    height: 18px;
    color: #161621;
    width: max-content;

    cursor: default;
    user-select: none;

    top: -3px;
}

.window-options {
    position: relative;
    right: 2px;
    top: -3px;
}

.window-option {
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #161621;
    font-weight: 900;
    font-family: sans-serif;
    box-sizing: content-box;
    padding: 0 2px;
    cursor: pointer;
}


.dragging .window-bar, .dragging .window-title {
    cursor: pointer !important;
}

.exercise-preview path {
    stroke: white;
    stroke-width: 1.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.window-desktop {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    padding: 30px;
}

.app {
    width: 80px;
    height: 80px;
    position: absolute;
    cursor: pointer;
}

.app.selected {
    border-color: #aef4ea !important;
}

.terminal-app {
    background: black;
    position: absolute;
    border: 0.01em solid #e3e6ea;
    z-index: 2;
}

.terminal-app::before {
    content: ">_";
    color: #e3e6ea;
    position: absolute;
    top: 5px;
    left: 9px;
    font-family: monospace;
    font-size: 2em;
}

.terminal-app::after {
    content: "TERMINAL";
    color: #e3e6ea;
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    font-family: math;
    font-size: 0.8em;
}

.desktop-bg {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
}


.d {
    stroke-dasharray: 300;
    animation: show 2s 1 forwards ease-out;

    stroke-dashoffset: 300;
}

@keyframes show {
    from {
        stroke-dashoffset: 300;
        fill: transparent;
    }
    50% {
        fill: transparent;
    }
    to {
        stroke-dashoffset: 0;
        fill: white;
    }
}


@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeInOut1 {
    0%, 100% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
}

@keyframes fadeInOut2 {
    20%, 100% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
}

@keyframes fadeInOut3 {
    40%, 100% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
}
