
* {
    box-sizing: border-box;
    font-family: monospace, "Arial Narrow", sans-serif;
}

html {
    background-image: url("imgeige.jpg");
    height: 100vh;
}

body {
    margin: 60px auto;
    width: 800px;
    padding: 20px;
    background: pink;
    border: 5px deeppink solid;
}


.city {
    padding: 10px;
    margin-bottom: 10px;
    background: floralwhite;
    border: 1px hotpink solid;
    height: min-content;
}

.title h1 {
    text-align: center;
    color: hotpink;
    font-size: 30px;
    text-decoration: underline;
}

.subtitle {
    text-align: center;
    color: darkblue;
}

.description {
    text-align: justify;
    font-style: italic;
}

.city-cell {
    display: table-cell;
    vertical-align: top;
}

.city-img img {
    width: 90%;
    padding: 5px;
}

.city-img {
    width: 220px;
}

.city-description h1 {
    font-size: 25px;
    color: darkblue;
}

.city-description h2 {
    font-size: 120%;
}

.city-description p {
    text-align: justify;
    color: gray;
}

.footer p {
    text-align: center;
    font-size: 15px;
    color: green !important;
    text-decoration: none !important;
}

.footer a {
    position: relative;

    text-decoration: none !important;
    color: green !important;
}

.footer a::after {
    content: "";
    background-color: green;
    width: 0;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 0;

    transition: width 0.3s;
}

.footer a:hover::after {
    width: 100%;
}